:root {
  /* Base colors */
  --color-bg: #fff;
  --color-fg: #000;
  
  --color-white: #fff;
  --color-black: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000;
    --color-fg: #fff;
  }
}