@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "../styles/colours/colours.css";
@import "../styles/typography/typography.css";

html,
body {
  cursor: url("/cursor.svg") 10 10, auto;
}

a,
button,
[role="button"],
input[type="button"],
input[type="submit"],
summary {
  cursor: url("/cursor-pointer.svg") 10 10, pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="tel"],
textarea {
  cursor: text;
}
