.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  inset: 0;
  z-index: 20;
  padding-bottom: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.title {
  color: var(--color-fg);
  font-family: var(--font-heading);
  font-size: var(--text-8xl);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
  text-transform: uppercase;
}


.subtitle {
  color: var(--color-fg);
  font-family: var(--font-body);
  font-size: var(--text-md);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
  text-transform: uppercase;
}
